
:root {
  /*--color-background: #f5f2e7;*/
 --color-background: rgba(140, 179, 255, 0.46) ;
 --color-black: #212121;
 --color-black-heavy: #000;
 --color-orange: rgba(252, 134, 34, 1);
 --color-white: #ffffff;
 --color-pink: rgb(241, 4, 190);

}


body{
  margin: 0 !important;
  padding: 0 !important;
  background-color: var(--color-background) !important ;
}


.navbar{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navbar-logo {
  margin: 0 auto; 
}

.img-logo {
  height: 90px;
  display: block; 
  margin: 0 auto; 
}

.welcome-login{
    width: 100vw;
   height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-login-content{
  width: 1000px;
  height: 600px;
  background-color:var(--color-white);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  align-items: center;
}

.welcome-title{
  margin-top: 50px;
}

.textfield{
  margin-top: 10px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

}
.textfield input{
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-size: 12pt;
  box-shadow: 0px 1px 1px #35353556;
  text-align: center;
  margin-top: 50px;
}


.login{
  color: var(--color-orange);
}

.btn-enviar{
  margin-top: 100px;
}

.btn-enviar input{
  background-color: var(--color-orange);
  color: white;
  width: 500px;
  height: 60px;
  border-radius: 10px;
  font-weight: 700;
}

.criar-conta a{
  color: var(--color-pink);
  text-decoration: none;
}

.footer{
  background-color: var(--color-white);
}

.footer-content{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content b :last-child{
  color:fuchsia;
}


